*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 16px;
  background-color: $root-color;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $page-color;
}

p {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

a {
  font-family: "Karla", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  letter-spacing: 8%;
}
