p {
  color: $text-default;
}

.bold-name {
  font-weight: bold;
}

.dual-column {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.dual-column ul {
  width: 50%;
}

.dual-column p {
  text-align: center;
}

.dual-column-home {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.dual-column-home ul {
  width: 50%;
}

.dual-column-home p {
  text-align: left;
}

.mobile {
  display: none;
}

.photoRow {
  display: flex;
  justify-content: space-evenly;
}

.photoRow img {
  width: 45%;
  height: auto;
}

.litterCardText {
  text-align: center;
}

@media (max-width: 600px) {
  .dual-column {
    display: none;
  }

  .mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .mobile p {
    text-align: center;
  }

  .mobile div {
    width: 100%;
  }

  .mobile-item {
    margin-bottom: 12px;
  }

}
