$mobile-width: 767px;
$bkg-color:#8d9c9f;
$hm-bkg: #bc9f92;
$page-color: #f8f4f1;
$card-color: #e5ddd0;
$highlight: #9e7f72;
$text-default: #402f0d;
$hm-sub: #5e695f;
$hm-sub-highlight: #414a42;
$header-height: 80px;
$contact-item-size: .85rem;
$contact-item-padding: 0.5rem;
$mobile-header-height: 60px;