.App {
  background-color: #dce1ea;
  height: 100%;
}

.header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  
  padding: 0.5rem; 
  background: #282c34;
}

.page { 
  display: flex;
  justify-content: center;
}

.info { 
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
  background-color: white;
  padding: 1%;
}

.header p {
  margin: 0;
  padding: 0;
  color: white;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.header ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  
  list-style: none;
  margin: 0; 
  background: #282c34;
}

.header a {
  text-decoration: none;
  display: block;
  padding: 1rem;
  color: white;
  font-size: 1rem;
}

.header a:hover {
  background: #17191c;
}

.page {
  height: 100%;
}

.subheading p {
  margin: 0;
}

@media all and (max-width: 800px) {
  .header {
    justify-content: space-around;
  }
  .page { 
    max-width: 90%;
  }
}

@media all and (max-width: 600px) {
  .header {
    flex-flow: column wrap;
    padding: 0;
  }
  .header a { 
    text-align: center; 
    padding: 10px;
  }
  .page { 
    max-width: 100%;
  }
}

@media (min-width: 0px) {
  p { font-size: 0.5rem; }
  .subheading p {
    font-size: 1rem;
  }
}

@media (min-width: 400px) {
  p { font-size: calc(1rem + 1vw); }
  .subheading p {
    font-size: calc(1rem + 1.5vw);
  }
}

@media (min-width: 1001px){
  p { font-size: 1.5rem; }
  .subheading p {
    font-size: 2rem;
  }
}

ul {
  list-style-type: none;
}

li {
  display: inline;
}

p {
  color: #14161b;
}
